In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/BACHelorette_.csv')

In [3]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,SHOW,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df['ELIMINATION-1'] == 'E']

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
24,Bachelorette,13,13_BLAKE_K,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bachelorette,13,13_GRANT_H,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bachelorette,13,13_JEDIDIAH_B,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bachelorette,13,13_KYLE_S,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bachelorette,13,13_MICHAEL_B,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df[df['ELIMINATION-7'] == 'E']

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
37,Bachelorette,12,12_JAMES_T,NaN,R,R,NaN,NaN,NaN,E,...,NaN,D6,D1,D11,D9,D5,D3,NaN,NaN,NaN
63,Bachelorette,11,11_JARED_H,NaN,NaN,NaN,R,NaN,R,E,...,NaN,D8,D6,D1,D9,D5,D1,D1,NaN,NaN
91,Bachelorette,10,10_BRIAN_O,NaN,NaN,NaN,R,R,NaN,E,...,NaN,D14,D12,D6,D1,D6,D4,NaN,NaN,NaN
92,Bachelorette,10,10_DYLAN_P,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D14,NaN,D1,D9,D6,D4,NaN,NaN,NaN
117,Bachelorette,09,09_MICHAEL_G,R1,NaN,NaN,NaN,R,NaN,E,...,NaN,D14,D10,D10,D2,D6,D1,NaN,NaN,NaN
143,Bachelorette,08,08_JOHN_W,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D13,D12,D2,D8,D6,D1,NaN,NaN,NaN
169,Bachelorette,07,07_LUCAS_D,NaN,NaN,NaN,NaN,NaN,R,E,...,NaN,D6,D10,D10,D8,D1,D3,NaN,NaN,NaN
195,Bachelorette,06,06_TY_B,NaN,R,NaN,NaN,R,R,E,...,NaN,D12,NaN,D7,D6,D1,D2,NaN,NaN,NaN
221,Bachelorette,05,05_JESSE_K,NaN,NaN,NaN,R,R,NaN,E,...,NaN,D7,NaN,D10,D1,D6,D1,NaN,NaN,NaN
222,Bachelorette,05,05_MICHAEL_S,NaN,NaN,NaN,NaN,R,NaN,E,...,NaN,D8,D11,D10,D1,D6,D1,NaN,NaN,NaN
250,Bachelorette,04,04_JEREMY_A,R1,R,NaN,NaN,NaN,NaN,E,...,NaN,D7,D10,D6,D1,D1,D1,NaN,NaN,NaN
275,Bachelorette,03,03_JOHN PAUL_M,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D1,D4,D1,D1,D1,NaN,NaN,NaN
301,Bachelorette,02,02_MATTHEW_H,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D7,D1,D1,D1,D1,NaN,NaN,NaN
387,Bachelor,20,20_BECCA_T,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D10,NaN,D1,D9,D7,D3,NaN,NaN,NaN
416,Bachelor,19,19_CARLY_W,NaN,NaN,NaN,NaN,R,NaN,E,...,NaN,NaN,D12,D6,D1,D6,D3,NaN,NaN,NaN
417,Bachelor,19,19_BRITT_N,R1,NaN,NaN,NaN,R,R,E,...,NaN,D11,D12,D6,D1,D6,D3,NaN,NaN,NaN
447,Bachelor,18,18_CHELSIE_W,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,D13,D1,D6,D9,D6,D4,NaN,NaN,NaN
475,Bachelor,17,17_LESLEY_M,NaN,NaN,R,NaN,NaN,R,E,...,NaN,D13,D1,NaN,D8,D7,D1,NaN,NaN,NaN
502,Bachelor,16,16_EMILY_O,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,D12,D1,NaN,D9,D6,D1,NaN,NaN,NaN
503,Bachelor,16,16_RACHEL_T,NaN,NaN,R,R,NaN,R,E,...,NaN,D12,D11,D1,D9,D2,D3,NaN,NaN,NaN
528,Bachelor,15,15_MICHELLE_M,NaN,R,NaN,R,NaN,NaN,E,...,NaN,D15,D12,D1,D8,D6,D3,NaN,NaN,NaN
583,Bachelor,13,13_JILLIAN_H,NaN,R,R,NaN,NaN,NaN,E,...,NaN,D1,D8,D6,D3,D1,D1,NaN,NaN,NaN
609,Bachelor,12,12_AMANDA_R,R1,NaN,NaN,R,NaN,NaN,E,...,NaN,D8,D10,D1,D4,D1,D1,NaN,NaN,NaN
635,Bachelor,11,11_BETTINA_B,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D7,D5,D6,D1,D1,D1,NaN,NaN,NaN
661,Bachelor,10,10_DANIELLE_I,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D4,D4,D4,D1,D1,NaN,NaN,NaN
686,Bachelor,09,09_SADIE_M,NaN,R,NaN,R,NaN,NaN,E,...,NaN,D5,D6,D1,D1,D1,D1,NaN,NaN,NaN
714,Bachelor,08,08_Moana,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,"D6, D12",D5,D4,D1,D1,D1,NaN,NaN,NaN
767,Bachelor,06,06_Cynthia,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,NaN,NaN,NaN,D1,D1,D1,NaN,NaN,NaN
794,Bachelor,05,05_TARA_H,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D1,D1,D1,D1,D1,NaN,NaN,NaN
819,Bachelor,04,04_Kelly-Jo,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D4,D3,D1,D1,D1,D1,NaN,NaN,NaN
846,Bachelor,03,03_KIRSTEN_X,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D5,D1,D1,D1,D1,D1,NaN,NaN,NaN
872,Bachelor,02,02_BROOKE_S,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D5,D1,D3,D1,D1,NaN,NaN,NaN,NaN