In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/bachelor_contestants.csv')

In [3]:
df.head()

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1

In [4]:
df

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1
...,...,...,...,...,...,...,...
418,Sarah,26.0,Grade School Teacher,"Newport Beach, CA",65.0,4.0,21
419,Susannah,26.0,Account Manager,"San Diego, CA",66.0,1.0,21
420,Taylor,23.0,Mental Health Counselor,"Seattle, WA",64.0,5.0,21
421,Vanessa,29.0,Special Education Teacher,"Montreal, Quebec, Canada",63.5,NaN,21
422,Whitney,25.0,Pilates Instructor,"Chanhassen, MN",68.0,6.0,21

In [8]:
df['Occupation'].unique()

array(['Event Planner', 'Miami Heat Dancer',
       'Financial Management Consultant', 'Nanny', 'Graduate Student',
       'Attorney', 'Actress', 'Commercial Real Estate Agent',
       'Special Ed. Teacher', 'Production Coordinator',
       'Hooters Waitress', 'Power Tool Sales Rep.', 'Photographer',
       'Business Development Director', 'Neuropsychologist', 'Doctor',
       'Bar Manager', 'Retail Manager', 'Advertising Executive',
       'Insurance Representative', '6th Grade Teacher',
       'Technology Specialist', 'School Psychologist', 'College Student',
       'Executive Recruiter', 'Registered Nurse', 'Flight Attendant',
       'Assistant Financial Advisor', 'Marriage Therapy Trainee',
       'Airline Supervisor', 'Graphic Artist', 'Radio Sales',
       'Publications Quality Control', 'Strategic Planning Analyst',
       'Psychologist', '3rd Grade Teacher', 'Radiological Technologist',
       'Interior Designer', 'Paralegal', 'Former NBA Cheerleader',
       '1st Grade Teacher', 'Communications Specialist', 'Student',
       'General contractor', 'Designer for an architect firm', 'Model',
       'Prosthetic technician', 'Pharmaceutical sales',
       'Professional Cheerleader',
       'Swim instructor/nanny/personal trainer',
       'LASIK Eye and Skin Center manager', 'Hair stylist',
       'Massage therapist/bartender', 'Model/make-up artist',
       'Consultant', 'Professional soccer player',
       'Model/executive assistant', 'Retail manager', 'Account manager',
       'Account manager/sales', 'Bank representative',
       'Fashion public relations manager', 'Singer', 'Teacher',
       'Publicist', 'Marketing manager', 'Realtor', 'Event planner',
       'Ultrasound technician', 'Socialite', 'Journalist',
       'Interior designer', 'Make-up artist', 'Policy advisor',
       'Broadcast marketer', 'Dolphin trainer', 'Assistant buyer',
       'Registered nurse', 'Physician', 'Dancer', 'Restaurateur',
       'Beer chemist', 'Hotel concierge', 'Social Worker', 'Assistant',
       'Graphic Designer', 'Project Manager', 'Medical student',
       'Boutique owner', 'Sales Manager', 'Organ donor coordinator',
       'Financial analyst', 'Sorority recruiter', 'Boutique manager',
       'Medical equipment sales rep', 'Radio sales', 'Waitress',
       'Former Miss Illinois', 'Executive coordinator',
       'Health care manager', 'Hedge fund analyst',
       'Real estate sales/development', 'Phoenix Suns\xa0Cheerleader',
       'Internet marketing executive', 'Acupuncturist',
       'Executive assistant', 'Boutique sales worker', 'Bar manager',
       'Esthetician', 'Publishing sales executive', 'News anchor',
       'Law student', 'Biology teacher', 'Graduate student',
       'Account representative', 'Emergency room nurse',
       'Project analyst', 'Pharmaceutical sales rep.',
       'Account Executive', 'Fashion designer', 'Advertising coordinator',
       'Singer-songwriter', 'Medical sales rep.',
       "Children's book author", 'Hot-dog vendor', 'Personal trainer',
       'Church marketing rep.', 'Administrative assistant',
       'Biology student', 'Attorney and former\xa0White House\xa0aide',
       'Makeup artist', 'Youth minister', 'Cocktail waitress',
       'Real estate marketing rep.', 'Sales Representative',
       'Department Store Buyer', 'Single Mother & Medical Marketing Rep.',
       'Single Mother and Lacrosse Coach', 'Dental Hygienist',
       'Administrative Assistant', 'Human Resources Recruiter',
       'Medical Student', 'Public Relations Associate',
       'Medical Sales Rep.', 'Casino Marketing Rep.',
       'Wedding Coordinator', 'Menswear Buyer', 'Jewelry Designer',
       'Single Mother & Charity Accountant',
       'Single Mother and Nurse Practitioner', 'Marketing Representative',
       'College Admissions', 'Swimsuit Model',
       'Advertising Account Manager', 'Wardrobe Consultant',
       'Account Manager', 'Cosmetic Sales Manager',
       'Corporate Flight Attendant', 'Hair Stylist', 'Homemaker',
       'Office Manager', 'Restaurant Manager', 'Model/Make-Up Artist',
       'Entrepreneur', 'Spokesmodel', 'Mortgage Loan Officer',
       'Captain, Air National Guard', 'Fitness Model', 'NBA Dancer',
       'Commercial Pilot', 'Dance Teacher', 'Medical Technician',
       "Children's Hospital Event Planner", 'Executive Assistant',
       'Dental Student', 'Funeral Director', 'Food writer', 'Artist',
       'Apparel merchant', 'Marketing Coordinator', 'Sports Publicist',
       'First grade teacher', 'Fashion Marketer', 'Bartender',
       'Real Estate Broker', 'Radio City Rockette', 'Manscaper',
       'Operations Manager', 'Sales director', 'Insurance agent',
       'High School Teacher', 'Sales Consultant',
       'Musical Theatre Performer', 'Business development manager',
       'Dental hygienist', 'PhD Student', 'Fashion sales representative',
       'Trading clerk', 'VIP cocktail waitress', 'Accountant',
       'Dental consultant', 'Advertising account manager',
       'Medical sales representative', 'Blogger', 'Financial advisor',
       'Labor and delivery nurse', 'Critical care nurse',
       'Nonprofit director', 'Pharmaceutical sales representative',
       'Internet entrepreneur', 'Substitute Teacher',
       'Personal Organizer', 'Bridal Stylist', 'Political Consultant',
       'Leasing Consultant', 'Commercial Casting Associate',
       'Real Estate Dealer', 'Oil Field Account Manager',
       'Cosmetics Consultant', 'Fit Model', 'Poker Dealer',
       'Health Club Manager', 'Community Organizer', 'Salon Owner',
       'Yoga Instructor', 'Fashion Model', 'Cruise Ship Entertainer',
       'Jumbotron Operator', 'Pediatric Nurse', 'Hairstylist',
       'Assistant District Attorney', 'Real Estate Agent',
       'Science Educator', 'Opera Singer',
       'Medical Sales Representative/NBA Dancer', 'Former NBA Dancer',
       'Psychiatric Nurse', 'Dog Lover', 'First Grade Teacher',
       'Music Composer', 'Marketing Manager', 'Free Spirit',
       'Local News Reporter', 'Legal Assistant',
       'Communications Director/NHL\xa0Ice Girl', 'Massage Therapist',
       'Grade School Teacher', 'Police Support Specialist',
       'Nursing Home Owner', 'Mineral Coordinator', 'Personal Banker',
       'Personal Trainer', 'Fertility Nurse', 'Chiropractic Assistant',
       'Dance Instructor', 'Cosmetics Developer', 'Cruise Ship Singer',
       'Make-Up Artist', 'Guidance Counselor',
       'Nanny/Freelance Journalist', 'Dental Assistant',
       'Fashion Designer', 'Former NFL Cheerleader', 'News Producer',
       'Fourth Grade Teacher', 'Special Education Teacher',
       'Sport Fishing Enthusiast', 'Ballet Teacher', 'Plus-Size Model',
       'WWE Diva-in-Training', 'High School Soccer Coach',
       'Wedding Cake Baker', 'Cadaver Tissue Saleswoman',
       'Real Estate Developer', 'Software Sales Representative',
       'Kindergarten Teacher', 'Former News Anchor',
       'Small Business Owner', 'War Veteran', 'Unemployed',
       'Mathematician', 'Dentist', 'Gerontologist', 'Fashion Buyer',
       'Nutritional Therapist', 'Math Teacher', 'Cowgirl',
       'Chicken Enthusiast', 'Aspiring Dolphin Trainer',
       'Plastic Surgery Office Manager', 'Surgical Unit Nurse',
       'Travel Nurse', 'Wedding Videographer', 'Business Owner',
       'Neonatal Nurse', 'Restaurant Server', 'Doula', 'Chef',
       'Pro Basketball Dancer', 'Digital Marketing Manager',
       'Law School Graduate', 'Food Truck Owner',
       'Apparel Sales Representative', 'Fashion Boutique Owner',
       'Mental Health Counselor', 'Pilates Instructor'], dtype=object)

In [9]:
df.index

RangeIndex(start=0, stop=423, step=1)

In [10]:
df.columns

Index(['Name', 'Age', 'Occupation', 'Hometown', 'Height', 'ElimWeek',
       'Season'],
      dtype='object')

In [11]:
df.dtypes

Name           object
Age           float64
Occupation     object
Hometown       object
Height        float64
ElimWeek      float64
Season          int64
dtype: object

In [12]:
df.shape

(423, 7)

In [26]:
# df.iloc[365:423]

In [27]:
# df.iloc[365:423, 0:3]

In [34]:
# df.loc[365:423, 'Name'] #only one column

In [41]:
# df.loc[df['Age'] > 30]

In [44]:
df.loc[df['Season'] >= 20]

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
365,Lauren Bushnell,25.0,Flight Attendant,"West Linn, Oregon",NaN,NaN,20
366,"Joelle ""JoJo"" Fletcher",24.0,Real Estate Developer,"Dallas, Texas",NaN,10.0,20
367,Caila Quinn,24.0,Software Sales Representative,"Hudson, Ohio",NaN,9.0,20
368,Amanda Stanton,25.0,Esthetician,"Rancho Santa Margarita, California",NaN,8.0,20
369,Becca Tilley,26.0,Chiropractic Assistant,"Shreveport, Louisiana",NaN,7.0,20
370,Emily Ferguson,23.0,Waitress,"Las Vegas, Nevada",NaN,7.0,20
371,Lauren Himle,25.0,Kindergarten Teacher,"Dexter, Michigan",NaN,6.0,20
372,Olivia Caridi,23.0,Former News Anchor,"Bristol, Virginia",NaN,6.0,20
373,Leah Block,25.0,Event Planner,"Greenwood Village, Colorado",NaN,6.0,20
374,Jennifer Saviano,25.0,Small Business Owner,"Lauderdale Lakes, Florida",NaN,5.0,20
375,Jubilee Sharpe,24.0,War Veteran,"Fort Lauderdale, Florida",NaN,5.0,20
376,Amber James,30.0,Bartender,"Kankakee, Illinois",NaN,4.0,20
377,Rachel Tchen,23.0,Unemployed,"Little Rock, Arkansas",NaN,4.0,20
378,Haley Ferguson,23.0,Waitress,"Las Vegas, Nevada",NaN,4.0,20
379,Jami Letain,23.0,Bartender,"St. Albert, Alberta",NaN,3.0,20
380,Shushanna Mkrtychyan,27.0,Mathematician,"Salt Lake City, Utah",NaN,3.0,20
381,Lace Morris,25.0,Real Estate Agent,"Denver, Colorado",NaN,3.0,20
382,"Amanda ""Mandi"" Kremer",28.0,Dentist,"Portland, Oregon",NaN,2.0,20
383,"Jacqueline ""Jackie"" Dion",23.0,Gerontologist,"Newport Beach, California",NaN,2.0,20
384,Samantha Passmore,26.0,Attorney,"New Smyrna Beach, Florida",NaN,2.0,20
385,"Lauren ""LB"" Barr",23.0,Fashion Buyer,"Stillwater, Oklahoma",NaN,2.0,20
386,Breanne Rice,30.0,Nutritional Therapist,"Seattle, Washington",NaN,1.0,20
387,"Isabel ""Izzy"" Goodkind",24.0,Graphic Designer,"Branford, Connecticut",NaN,1.0,20
388,Jessica Moser,23.0,Accountant,"Boca Raton, Florida",NaN,1.0,20
389,Laura Esselman,24.0,Account Executive,"Louisville, Kentucky",NaN,1.0,20
390,Lauren Russell,26.0,Math Teacher,"Houston, Texas",NaN,1.0,20
391,Maegan Miller,30.0,Cowgirl,"Visalia, California",NaN,1.0,20
392,Tiara Soleim,27.0,Chicken Enthusiast,"Redmond, Washington",NaN,1.0,20
393,Alexis,23.0,Aspiring Dolphin Trainer,"Secaucus, NJ",66.00,5.0,21
394,Angela,26.0,Model,"Greenville, SC",67.00,1.0,21
395,Astrid,26.0,Plastic Surgery Office Manager,"Tampa, FL",67.50,4.0,21
396,Briana,28.0,Surgical Unit Nurse,"Salt Lake City, UT",64.00,1.0,21
397,Brittany,26.0,Travel Nurse,"Santa Monica, CA",62.00,3.0,21
398,Christen,25.0,Wedding Videographer,"Tulsa, OK",65.00,3.0,21
399,Corinne,24.0,Business Owner,"Miami, FL",61.00,8.0,21
400,Danielle L.,27.0,Small Business Owner,"Los Angeles, CA",65.00,6.0,21
401,Danielle M.,31.0,Neonatal Nurse,"Nashville, TN",70.00,7.0,21
402,Dominique,25.0,Restaurant Server,"Los Angeles, CA",64.00,3.0,21
403,Liz,29.0,Doula,"Las Vegas, NV",64.00,2.0,21
404,Elizabeth,24.0,Marketing Manager,"Dallas, TX",67.00,2.0,21
405,Hailey,23.0,Photographer,"Vancouver, British Columbia, Canada",67.00,2.0,21
406,Ida Marie,23.0,Sales Manager,"Harlingen, TX",68.00,1.0,21
407,Jaimi,28.0,Chef,"New Orleans, LA",62.00,5.0,21
408,Jasmine B.,25.0,Flight Attendant,"Tacoma, WA",62.50,1.0,21
409,Jasmine G.,29.0,Pro Basketball Dancer,"San Francisco, CA",67.00,6.0,21
410,Josephine,24.0,Registered Nurse,"Santa Cruz, CA",67.75,5.0,21
411,Kristina,24.0,Dental Hygienist,"Lexington, KY",62.00,7.0,21
412,Lacey,25.0,Digital Marketing Manager,"Manhattan, NY",63.00,2.0,21
413,Lauren,30.0,Law School Graduate,"Naples, FL",67.00,1.0,21
414,Michelle,24.0,Food Truck Owner,"Los Angeles, CA",61.00,1.0,21
415,Olivia,25.0,Apparel Sales Representative,"Anchorage, AK",67.00,1.0,21
416,Rachel,31.0,Attorney,"Dallas, TX",64.00,NaN,21
417,Raven,25.0,Fashion Boutique Owner,"Hoxie, AR",66.00,NaN,21
418,Sarah,26.0,Grade School Teacher,"Newport Beach, CA",65.00,4.0,21
419,Susannah,26.0,Account Manager,"San Diego, CA",66.00,1.0,21
420,Taylor,23.0,Mental Health Counselor,"Seattle, WA",64.00,5.0,21
421,Vanessa,29.0,Special Education Teacher,"Montreal, Quebec, Canada",63.50,NaN,21
422,Whitney,25.0,Pilates Instructor,"Chanhassen, MN",68.00,6.0,21