In [10]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
pd.set_option("display.max_rows", 40)

In [11]:
twenty16 = pd.read_csv('../data/Bebe2016.csv')
twenty17 = pd.read_csv('../data/Bebe2017.csv')
twenty18 = pd.read_csv('../data/Bebe2018.csv')
twenty19 = pd.read_csv('../data/Bebe2019.csv')
twenty20 = pd.read_csv('../data/Bebe2020.csv')

In [16]:
df = pd.concat([twenty16, twenty17, twenty18, twenty19, twenty20], join = 'outer')

In [17]:
df

,Check Number,Unnamed: 1,Date,Unnamed: 3,Description,Unnamed: 5,Debit,Unnamed: 7,Credit,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,144,NaN,7/24/2012,NaN,GRJC,NaN,74.00,NaN,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,186,NaN,3/21/2013,NaN,Jay Volunteer for Israel,NaN,100.00,NaN,NaN,NaN,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
3,187,NaN,3/25/2013,NaN,Glen Rock High School,NaN,267.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4/18/2013,NaN,Glen Rock Jewish Center,NaN,35.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN