In [23]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
pd.set_option("display.max_rows", 40)

In [24]:
twenty16 = pd.read_csv('../data/Bebe2016.csv')
twenty17 = pd.read_csv('../data/Bebe2017.csv')
twenty18 = pd.read_csv('../data/Bebe2018.csv')
twenty19 = pd.read_csv('../data/Bebe2019.csv')
twenty20 = pd.read_csv('../data/Bebe2020.csv')

In [25]:
df = pd.concat([twenty16, twenty17, twenty18, twenty19, twenty20], join = 'outer')

In [27]:
df

,Check Number,Date,Description,Debit,Credit,Balance,Cleared,Year,outstanding,deposits,Category,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,"6,708.05",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,144,7/24/2012,GRJC,74,0,"6,634.05",r,2013.0,,,charity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,186,3/21/2013,Jay Volunteer for Israel,100,NaN,"6,534.05",r,2013.0,,,charity,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
3,187,3/25/2013,Glen Rock High School,267,NaN,"6,267.05",r,2013.0,,,charity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4/18/2013,Glen Rock Jewish Center,35,NaN,"6,232.05",r,2013.0,,,charity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,NaN,NaN,NaN,NaN,NaN,"-51,599.26",NaN,2020.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,NaN,NaN,NaN,NaN,NaN,"-51,599.26",NaN,2020.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,NaN,NaN,NaN,NaN,NaN,"-51,599.26",NaN,2020.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,NaN,NaN,NaN,NaN,"-51,599.26",NaN,2020.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,"-51,599.26",NaN,2020.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.dropna(subset=['Debit', 'Credit ']) #space after credit

,Check Number,Date,Description,Debit,Credit,Balance,Cleared,Year,outstanding,deposits,Category,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
1,144,7/24/2012,GRJC,74,0,"6,634.05",r,2013.0,,,charity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,,4/29/2013,deposit Raizel funds,0,"1,119.41","6,800.01",r,2013.0,,,Raizel college:UofMD norway course,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,7/16/2013,deposit,0,30.25,"-7,448.47",r,2013.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,9/9/2013,deposit,0,"2,197.69","-5,841.40",r,2013.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,NaN,11/1/2013,deposit,0,270,"-13,169.11",r,2013.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,NaN,11/21/2013,bank charges,0,10.51,"-12,299.79",r,2013.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,NaN,6/4/2014,deposit,0,270,-697.27,r,2014.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1031,NaN,4/1/2015,deposit,0,270,"-14,401.05",r,2015.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,NaN,5/4/2015,deposit,0,"2,252.80","-8,683.72",r,2015.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,NaN,12/7/2015,deposit,0,5,"-29,433.96",r,2015.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1411,NaN,1/11/2016,deposit,0,"2,288.21","-26,546.69",r,2016.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,NaN,3/24/2016,adjustment,0,0,"-27,276.81",r,2016.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,6/11/2017,deposit,0,270,"-33,511.23",r,2017.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,8/11/2017,deposit,0,25.85,"-36,193.42",r,2017.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,NaN,10/16/2017,deposit,0,"2,347.33","-11,194.60",r,2017.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,3/15/2019,overdraft mastercard,167.5,0,"-32,543.47",r,2019.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,4/10/2019,overdraft mastercard,165.33,0,"-14,016.69",r,2019.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,5/28/2019,Deposit,0,"2,518.50","-22,457.60",r,2019.0,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.dtypes

Check Number     object
Date             object
Description      object
Debit            object
Credit           object
Balance          object
Cleared          object
Year            float64
outstanding      object
deposits         object
Category         object
Unnamed: 11      object
Unnamed: 12      object
Unnamed: 13      object
Unnamed: 14      object
Unnamed: 15      object
Unnamed: 16      object
Unnamed: 17      object
Unnamed: 18      object
dtype: object

In [49]:
df['Debit'] = df['Debit'].replace(',', '')
df['Debit']

0      NaN
1       74
2      100
3      267
4       35
      ...
367    NaN
368    NaN
369    NaN
370    NaN
371    NaN
Name: Debit, Length: 3691, dtype: object

In [46]:
df['Credit '] = df['Credit '].replace(',', '')

In [47]:
df['Credit '].astype('float')

ValueError: could not convert string to float: '1,119.41'

In [48]:
df['Debit'].astype('float')

ValueError: could not convert string to float: '1,323.04'

In [35]:
df[df['Year'] == 2020]['Credit '].sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# fig, ax = plt.subplots(figsize = (11,11))
# x = df['Year']
# y = genre_dict.values()
# color = ["red", "orangered", "maroon", "yellow", "gold", "orange", "crimson", "chartreuse", "green", "lime", 
#          "cyan", "blue", "deepskyblue", "royalblue", "fuchsia", "pink", "deeppink", "indigo", 
#          "lavender", "darkviolet", "silver", "black"]
# plt.bar(x, y, color = color)

# ax.set_title('Genres and Ratings', fontsize = 20);
# ax.set_xlabel('Genre', fontsize = 15)
# ax.set_ylabel('Ratings', fontsize = 15)
# ax.set_ylim(0, 10)
# ax.set_xticklabels(genre_dict.keys(), rotation = 'vertical')