In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 100)

In [3]:
Q2 = pd.read_csv('../data/Questionnaire_2.csv')

In [6]:
Q2 = Q2.rename(columns={'What is your name?':'Name', 'Next place on your travel bucket list':'Travel Destination'})

In [8]:
Q2[['Name', 'Travel Destination']]

             Name                       Travel Destination
0            Bebe                                  Germany
1          Eliana                                Bora Bora
2  Marc Bernstein                              New Zealand
3          Ariel                                   Iceland
4             raf                                austin tx
5           jay b  west virginia astronomy radio telescope
6          Briana                                  Ireland
7     Sean Fitter                                     Cuba
8    Megan Fitter                                   Norway