In [1]:
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', -1)

#git status, git add , git commit -m "", git push

C:\Users\berns\AppData\Local\Temp\ipykernel_10804\863831768.py:8: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [2]:
fam = pd.read_csv('../data/family_update.csv')

In [3]:
fam = fam.drop(['Timestamp', 'Username'], axis=1)
fam = fam.fillna('')

In [7]:
fam = fam.rename(columns={'What is your full name':'Name',
                    'What is your birthday?':'Birthday', 
                    'What is your favorite holiday?': 'Favorite Holiday',
                    'Tell me a fun fact! it can be personal, random, whatever':'Fun Fact',
                    'favorite college basketball team': 'Fav College Bball', 
                    'where do you live?': 'Resides',
                    'what is the next place youre going to travel':'Next Destination',
                    "what's something on your bucket list":'Bucket List', 
                    "What's your secret talent?": 'Secret Talent',
                    'What is something youre dedicated to? (ex. reality tv, a hobby, sport, religion, your kid)':'Dedication Towards',
                    "what is a hobby or skill you'd like to dedicate yourself to? (practicing base guitar, jumping out of planes, scuba diving)": 'Dedication Goalz',
                    'favorite restaurant in the area you live' : 'Yummy',
                    "What do you look forward to at Briana's wedding? ": 'Bribri Partay',
                    'If you could have written a question for this survey, what would it have been? (I will most likely screen shot this and share in club tofurkey)':'Your Own Q'})

In [13]:
fam.style.set_properties(subset=['Occupation'], **{'width':'40px'})
fam.style.set_properties(subset=['Your Own Q', 'Dedication Goalz', 'Fun Fact'], **{'width':'250px'})

In [16]:
fam.groupby(['Name'])['Favorite Holiday'].count()

Name
Andrew Fitter         1
Ariel Abrahams        1
Briana Marmelstein    1
Marc Bernstein        1
Megan Fitter          1
Nina Rebeca Bigler    1
Raizel Bernstein      1
Name: Favorite Holiday, dtype: int64

In [17]:
fam['Favorite Holiday'].value_counts()

thanksgiving    5
hanukkah        1
xmas            1
Name: Favorite Holiday, dtype: int64

In [19]:
fam[fam['Favorite Holiday'].str.contains('thanks', case=False)]

,Name,Birthday,Occupation,Favorite Holiday,Fun Fact,Fav College Bball,Resides,Next Destination,Bucket List,Secret Talent,Dedication Towards,Dedication Goalz,Yummy,Bribri Partay,Your Own Q
0,Briana Marmelstein,1996-10-05,Genetic Counselor,thanksgiving,I'm hopefully publishing a paper in 2023!,Whoever wins me money or Penn State,Conshy aka Philly Suburb,South of France,See the Rangers win the Stanley Cup!,Painting my nails,Bravo shows,"Eh, I'd rather do a lot of things than honing one skill...but no diving, sky or otherwise",Zahav,Being the bride,Who are the ultimate coke and pepsi champs and why are they Briana and Eliana
1,Raizel Bernstein,1994-06-27,Data Analyst,thanksgiving,im moving to jersey shore for most of the summer,Terps ... duh,NJ,sea girt NJ,break 6 minutes in the mile,intuition,prob about to get dedicated to running again,running so fast I can break a 6 min mile,diners,come&pepsi,
4,Andrew Fitter,2001-02-22,Software Developer Engineer,thanksgiving,I’m about to buy tickets to bonnaroo music festival!,Virginia Tech,Virginia,Japan,Climb the nose on el cap,I’m really good at the chesties bar game,Climbing,Skydiving and skiing,Kuma Moon ramen,Bouncy castle and helicopter,
5,Marc Bernstein,1998-06-24,Software Engineer,thanksgiving,"F is for friends who do stuff together, u is for you and me. N is for anywhere and anytime at all.",not maryland,boston,"no idea, hopefully italy or japan",To kick a bucket,That I am full of surprises,Fighting games,Bass,All back in nj. i miss travinos,Alcohol,If you could have written a questions for this form what would it have been?
6,Megan Fitter,1992-10-02,Social Scientist,thanksgiving,I once got a legit karaoke injury,Blue Hens,Washington DC,National mall on a run,Skydiving with Andrew as my tandem instructor,Copying Abuelita’s recipes,Obstacle racing,Running,Rasika (fancy indian food),"Patron, tequila",Open ended describe your thoughts and feelings about the bachelor in at least three sentences.