In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('../data/pets.csv')

In [9]:
df

      Name   Owner  Pet   Birthday               Favorite Toy
0     Wind  Denise  Cat  7/21/2019  Jackson galaxy satellites
1  Clayton  Denise  Cat   8/1/2019  Jackson galaxy satellites
2  Charlie  Briana  NaN  10/1/2016         insoles from shoes
3     Fuzz    Rafi  Cat   4/1/2013               plastic bags