In [1]:
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.float_format',  '{:,.2}'.format)

<ipython-input-1-f14289167729>:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

https://domohelp.domo.com/hc/en-us/articles/360043931814-Fun-Sample-DataSets

In [2]:
jeopardy = pd.read_excel('../data/JEOPARDY.xlsx')

In [3]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [4]:
show_1 = jeopardy[jeopardy['Show Number'] == 1]

In [5]:
type(show_1)

pandas.core.frame.DataFrame

In [6]:
show_1.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [7]:
show_1 = show_1.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

In [8]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-8-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [9]:
# show_1[['Question', 'Answer']]

In [14]:
# show_1.loc[:,['Question', 'Answer']]

In [10]:
jeopardy[1200:1191:-1]

,Show Number,Air Date,Round,Category,Value,Question,Answer
1200,1302,1990-04-10,Jeopardy!,ADVERTISING SLOGANS,300,"""I like"" this lemon-lime soda ""in you""",Sprite
1199,1302,1990-04-10,Jeopardy!,FAMOUS NAMES,300,"""The First Time Ever"" she had a No. 1 album was ""First Take"" in 1972",Roberta Flack
1198,1302,1990-04-10,Jeopardy!,PRESIDENTIAL ASTROLOGY,200,"It's Jimmy Carter's sign, so don't tip his scales",Libra
1197,1302,1990-04-10,Jeopardy!,4-LETTER WORDS,200,"From the Greek word for ""deep sleep"", it's a deep, prolonged unconsciousness",Coma
1196,1302,1990-04-10,Jeopardy!,WEATHER,200,Air is described as supersaturated when the relative humidity is higher than this percent,1
1195,1302,1990-04-10,Jeopardy!,THE BIBLE,200,"I Corinthians 7:9 states, ""It is better to marry than to"" do this",Burn
1194,1302,1990-04-10,Jeopardy!,ADVERTISING SLOGANS,200,"""Wouldn't you really rather have"" one of these cars",Buick
1193,1302,1990-04-10,Jeopardy!,FAMOUS NAMES,200,"Creator of ""The Cisco Kid"", William Sidney Porter was better known by this name",O. Henry
1192,1302,1990-04-10,Jeopardy!,PRESIDENTIAL ASTROLOGY,100,"Gerald Ford was the last president born under this ""crab""by sign",Cancer

In [11]:
jeopardy[' Question'].isna().sum()

2

In [12]:
jeopardy = jeopardy.dropna(subset=[' Question'])

In [13]:
jeopardy.isna().sum()

Show Number    0
 Air Date      0
 Round         0
 Category      152
 Value         0
 Question      0
 Answer        34
dtype: int64

In [14]:
jeopardy.dtypes

Show Number    int64
 Air Date      datetime64[ns]
 Round         object
 Category      object
 Value         object
 Question      object
 Answer        object
dtype: object

In [15]:
jeopardy = jeopardy.dropna()

In [16]:
#needs == True - idk why
jeopardy[jeopardy[' Question'].str.contains('scuba', case=False)  == True]

,Show Number,Air Date,Round,Category,Value,Question,Answer
8563,62,1984-12-04,Jeopardy!,SPORTS,400,"What the letters in ""scuba"" stand for",self-contained underwater breathing apparatus
16055,5001,2006-05-15,Jeopardy!,OK COMPUTER,400,"(<a href=""http://www.j-archive.com/media/2006-05-15_J_26.wmv"">Kelly of the Clue Crew accesses a video of Sarah of the Clue Crew scuba diving on the <i>Jeopardy!</i> web site from her laptop.</a>) A synonym for ""flowing"", it's the type of video you can watch when you <a href=""http://www.j-archive.com/media/2006-05-15_J_26.jpg"" target=""_blank"">visit us</a> at jeopardy.com",streaming
17432,2969,1997-06-26,Jeopardy!,AIRLINE TRAVEL,100,"The Valsalva maneuver, also used by scuba divers, can ""pop"" these organs",the ears
32512,4140,2002-09-06,Double Jeopardy!,THE SHORT FORM,1600,"To a swimmer, SCUBA",self-contained underwater breathing apparatus
36455,4218,2002-12-25,Jeopardy!,MOTHER NATURE'S STRANGE IDEAS,400,"(Sarah of the Clue Crew scubadiving) A stretched & twisted polyp forms the coral seen here, named for this human body part",brain
43698,6078,2011-02-02,Jeopardy!,TRINIDAD & TOBAGO,600,T&T are close enough to this country that the water from the Orinoco murks up scuba diving,Venezuela
45878,4648,2004-11-17,Double Jeopardy!,TOOLS OF THE TRADE,4400,"Tusa's visio, with a polycarbonate frame, is this piece of scuba equipment",a mask
47130,3287,1998-12-15,Jeopardy!,FUN WITH ACRONYMS,500,To a diver: SCUBA,Self Contained Underwater Breathing Apparatus
71421,5235,2007-05-18,Jeopardy!,WORLD TRAVEL,200,"Scuba divers love to explore the Marie Celeste, a blockade runner that sank off the coast of Bermuda during this war",the Civil War
82397,4755,2005-04-15,Double Jeopardy!,THE ISLANDS OF VANUATU,1200,"A WWII liner named for this ""silent"" president is one of the world's largest intact scuba-accessible shipwrecks",Coolidge
87030,5267,2007-07-03,Jeopardy!,FUN ACROSS AMERICA,400,"If you're scuba-certified, you can swim with the sharks at the aquarium in this Minnesota shopping paradise",the Mall of America
88981,3029,1997-10-30,Double Jeopardy!,MORE REDUNDANCY & REPETITION,400,"This word, the ""A"" in the acronym scuba, makes ""scuba gear"" somewhat repetitive",apparatus
89715,5390,2008-02-01,Double Jeopardy!,OFFICIAL STATE STUFF,2000,"Go SCUBA diving in Hawaii & you may see the state gem, the black type of this",coral
122020,5068,2006-09-27,Double Jeopardy!,FIREFIGHTING,5000,Take the â€œUâ€ out of scuba to get this full name of firefighting gear used to go where oxygen is scarce,a self-contained breathing apparatus
126257,6080,2011-02-04,Jeopardy!,HAZARDS,800,The scuba diving hazard known as the bends results from this gas being released into the blood during a too rapid ascent,nitrogen
126903,5268,2007-07-04,Jeopardy!,GIVE ME A SIGN,400,"This gesture can mean ""cut power to the microphone"" or, in scuba diving, ""I'm out of air""",putting your hand across your (throat)
143302,6177,2011-06-21,Double Jeopardy!,WHAT DO U STAND FOR?,800,In SCUBA,underwater
151316,4289,2003-04-03,Jeopardy!,THE NATURAL WORLD,400,"(Sarah of the Clue Crew scuba diving in the Barrier Reef near Belize) Sponges are classified based on what this structure is made of, such as calcium carbonate or silica",the skeleton
161756,4294,2003-04-10,Jeopardy!,WHAT A GAS!,800,"When bubbles of this gas form in a scuba diver's blood, the bends can occur",nitrogen
181871,5940,2010-06-11,Jeopardy!,COUSTEAU,800,"Cousteau co-designed <a href=""http://www.j-archive.com/media/2010-06-11_J_29.wmv"">this</a> scuba device & said it changed his life",the aqua lung
196710,4852,2005-10-18,Jeopardy!,LET'S GO CRUISING,200,Princess Cruises now offer scuba & volleyball as well as this beloved game that uses cues to push disks,shuffleboard
199863,5812,2009-12-15,Double Jeopardy!,IT'S A GAS,1200,"Rising too fast from deep water forces nitrogen gas into the blood, causing this condition in scuba divers",the bends
200288,3471,1999-10-11,Double Jeopardy!,"OF ""LIFE""",600,"This type of ""system"" refers to space suits & scuba gear as well as medical devices like incubators",Life support