In [24]:
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pd.options.display.width = 2000
pd.set_option('display.float_format',  '{:,.2}'.format)

https://domohelp.domo.com/hc/en-us/articles/360043931814-Fun-Sample-DataSets

In [3]:
jeopardy = pd.read_excel('../data/JEOPARDY.xlsx')

In [4]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [5]:
show_1 = jeopardy[jeopardy['Show Number'] == 1]

In [6]:
type(show_1)

pandas.core.frame.DataFrame

In [7]:
show_1.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [8]:
show_1 = show_1.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

In [26]:
pd.set_option('display.expand_frame_repr', False)

In [27]:
show_1[['Question', 'Answer']].loc[84525]

Question    These rodents first got to America by stowing ...
Answer                                                   rats
Name: 84525, dtype: object

In [14]:
# show_1.loc[:,['Question', 'Answer']]