In [1]:
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.float_format',  '{:,.2}'.format)

<ipython-input-1-f14289167729>:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

https://domohelp.domo.com/hc/en-us/articles/360043931814-Fun-Sample-DataSets

In [2]:
jeopardy = pd.read_excel('../data/JEOPARDY.xlsx')

In [3]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [4]:
show_1 = jeopardy[jeopardy['Show Number'] == 1]

In [5]:
type(show_1)

pandas.core.frame.DataFrame

In [6]:
show_1.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
show_1 = show_1.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

NameError: name 'show_1' is not defined

In [8]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-8-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [9]:
# show_1[['Question', 'Answer']]

In [14]:
# show_1.loc[:,['Question', 'Answer']]

In [5]:
jeopardy = jeopardy.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

In [5]:
jeopardy[1800:1761:-1]

,Show Number,Air Date,Round,Category,Value,Question,Answer
1800,3113,1998-02-25,Jeopardy!,SIMPLE SCIENCE,200,Number of sides on a honeycomb cell or on a snowflake,6
1799,3113,1998-02-25,Jeopardy!,COMMON BONDS,200,"Foehn, Zephyr, Simoom",winds
1798,3113,1998-02-25,Jeopardy!,WHAT'CHA GOT COOKIN'?,100,I'm boiling these to mix with red cabbage; it's too darn hot to roast them on an open fire,chestnuts
1797,3113,1998-02-25,Jeopardy!,"HEY, GOOD-LOOKIN'",100,"A 4-legged one may be a vixen; a 2-legged one may be a vixen, too",a fox
1796,3113,1998-02-25,Jeopardy!,AT THE BUILDING SITE,100,"He's got the building wired for ""current"" affairs",an electrician
1795,3113,1998-02-25,Jeopardy!,ROCK MUSIC,100,"In April of 1990 she began her worldwide ""Blond Ambition"" tour to promote her CD ""I'm Breathless""",Madonna
1794,3113,1998-02-25,Jeopardy!,SIMPLE SCIENCE,100,State of matter a substance is in after it's gone through evaporation,gaseous
1793,3113,1998-02-25,Jeopardy!,COMMON BONDS,100,"Fife, Rubble, Miller",Barney
1792,4699,2005-01-27,Final Jeopardy!,MOUNTAINS,None,"To trek through its Khumbu Icefall, Lhotse Face & South Col, your team needs a $70,000 permit from Nepal's government",Mount Everest
1791,4699,2005-01-27,Double Jeopardy!,TAKE OUT,2000,The embolus removed from an artery in an embolectomy is usually one of these obstructions,a (blood) clot
1790,4699,2005-01-27,Double Jeopardy!,FINE DINING,2000,"En croute, as in salmon en croute, is French for ""in"" this, also found on toast",crust
1789,4699,2005-01-27,Double Jeopardy!,IN THE DICTIONARY,800,This cutting implement has the same name as a type of dive & a kind of trailer-truck accident,a jackknife
1788,4699,2005-01-27,Double Jeopardy!,LOW CUT GENES,2000,"Named for a German neuropathologist, this memory loss disease may be caused by a gene on chromosome 21",Alzheimer's disease
1787,4699,2005-01-27,Double Jeopardy!,SPORTS OF THE FEMALE OLYMPIANS,2000,"Lisa Fernandez, Jennie Finch & their 7 teammates on the field",softball
1786,4699,2005-01-27,Double Jeopardy!,CONSTITUTIONAL AMENDMENTS,2000,"Decade when the 27th & last amendment, having to do with pay raises in Congress, took effect",the 1990s
1785,4699,2005-01-27,Double Jeopardy!,TAKE OUT,1600,A keratotomy is an incision of this eye part; a keratectomy removes part of it,the cornea
1784,4699,2005-01-27,Double Jeopardy!,FINE DINING,1600,"A company at Union Wharf in Portland ships all kinds of seafood, but is called ""Maine"" this creature ""Direct""",Lobster
1783,4699,2005-01-27,Double Jeopardy!,IN THE DICTIONARY,1600,"The name of this African equine comes from the Portuguese for ""wild ass""",a zebra
1782,4699,2005-01-27,Double Jeopardy!,LOW CUT GENES,1600,A pair of chromosomes with this 2-letter designation makes a woman a woman,XX
1781,4699,2005-01-27,Double Jeopardy!,SPORTS OF THE FEMALE OLYMPIANS,1600,"Mohini Bhardwaj, Courtney Kupets & their 4 teammates",gymnastics
1780,4699,2005-01-27,Double Jeopardy!,CONSTITUTIONAL AMENDMENTS,1600,"The 24th Amendment says you don't have to pay this type of tax, or any other in order to vote",poll
1779,4699,2005-01-27,Double Jeopardy!,TAKE OUT,1200,A lobectomy removes one of the 5 lobes of the lungs; a lobotomy takes out part of this organ,the brain
1778,4699,2005-01-27,Double Jeopardy!,FINE DINING,1200,This word for a French stew is pronounced the same as a pasta sauce brand,ragout
1777,4699,2005-01-27,Double Jeopardy!,IN THE DICTIONARY,1200,"The name of this 6-pointed star comes from the Greek for ""six"" & ""letter""",a hexagram
1776,4699,2005-01-27,Double Jeopardy!,LOW CUT GENES,1200,Since the 1980s this hormone used by diabetics has been produced by genetically engineered bacteria,insulin
1775,4699,2005-01-27,Double Jeopardy!,SPORTS OF THE FEMALE OLYMPIANS,1200,Misty May & Kerri Walsh,beach volleyball
1774,4699,2005-01-27,Double Jeopardy!,CONSTITUTIONAL AMENDMENTS,1200,"The 13th Amendment, which abolished slavery, was ratified in this year",1865
1773,4699,2005-01-27,Double Jeopardy!,TAKE OUT,800,A rhytidectomy removes these surgically; botox takes them out another way,wrinkles
1772,4699,2005-01-27,Double Jeopardy!,FINE DINING,800,NYC sushi chef Masa Takayama has paid more than $120 a pound for this fish--a bit pricier than Star-Kist's,tuna
1771,4699,2005-01-27,Double Jeopardy!,IN THE DICTIONARY,800,"This synonym for ""room"" can precede music & maid",chamber
1770,4699,2005-01-27,Double Jeopardy!,LOW CUT GENES,800,"Genes that affect hereditary traits are called alleles & are either ""dominant"" or this",recessive
1769,4699,2005-01-27,Double Jeopardy!,SPORTS OF THE FEMALE OLYMPIANS,800,"Sheryl Swoopes, Lisa Leslie & their 3 teammates on the floor",basketball
1768,4699,2005-01-27,Double Jeopardy!,CONSTITUTIONAL AMENDMENTS,6000,"Under the 5th Amendment, 1 of the 3 things that no person shall be deprived of ""without due process of law""",life (or liberty or property)
1767,4699,2005-01-27,Double Jeopardy!,TAKE OUT,400,It's the common operation to remove 2 small oval masses of tissue at the back of the mouth,a tonsillectomy
1766,4699,2005-01-27,Double Jeopardy!,FINE DINING,400,A Vacherin dessert features this crisp concoction of beaten egg whites & sugar,meringue
1765,4699,2005-01-27,Double Jeopardy!,IN THE DICTIONARY,400,"This math term comes from the Latin frangere, ""to break""",fraction
1764,4699,2005-01-27,Double Jeopardy!,LOW CUT GENES,400,"Because they develop from a single ovum, this variety of twins has the same genetic makeup",identical
1763,4699,2005-01-27,Double Jeopardy!,SPORTS OF THE FEMALE OLYMPIANS,400,"Mia Hamm, Brandi Chastain & their 9 teammates on the field",soccer
1762,4699,2005-01-27,Double Jeopardy!,CONSTITUTIONAL AMENDMENTS,400,"Of particular interest to the NRA is the amendment that allows us ""to keep & bear"" these",arms

In [7]:
jeopardy['Question'].isna().sum()

2

In [8]:
jeopardy = jeopardy.dropna(subset=['Question'])

In [9]:
jeopardy.isna().sum()

Show Number    0
Date Aired     0
 Round         0
Category       152
Value          0
Question       0
Answer         34
dtype: int64

In [10]:
jeopardy.dtypes

Show Number    int64
Date Aired     datetime64[ns]
 Round         object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [11]:
jeopardy = jeopardy.dropna()

In [13]:
#needs == True - idk why
jeopardy[jeopardy['Question'].str.contains('work', case=False)  == True]

,Show Number,Date Aired,Round,Category,Value,Question,Answer
139,3751,2000-12-18,Jeopardy!,FOREWORDS,400,"One edition calls this Darwin opus one of ""the most readable and approachable"" of revolutionary scientific works",The Origin of Species
144,3751,2000-12-18,Jeopardy!,"""I"" LADS",500,This auto exec's autobiography is one of the bestselling nonfiction works in publishing history,Lee Iacocca
291,4931,2006-02-06,Double Jeopardy!,U.S. WINTER OLYMPIANS,2000,"His ""Bode"" of work includes 2 Alpine skiing silver medals in 2002",Bode Miller
424,6037,2010-12-07,Jeopardy!,RVs,200,"(<a href=""http://www.j-archive.com/media/2010-12-07_J_26.jpg"" target=""_blank"">Jimmy of the Clue Crew reports from the RV/MH Hall of Fame in Elkhart, IN.</a>) The GMC Motorhome from the '60s & 70s was among the first models to have this innovation that helps with traction by putting the weight over the <a href=""http://www.j-archive.com/media/2010-12-07_J_26a.jpg"" target=""_blank"">wheels</a> that do the work",front-wheel drive
432,6037,2010-12-07,Jeopardy!,TIMELESS TV,600,In 1948 Douglas Edwards became the first anchor of this network's Evening News,CBS
...,...,...,...,...,...,...,...
216770,5070,2006-09-29,Jeopardy!,SIGNING OFF,800,"The statue seen <a href=""http://www.j-archive.com/media/2006-09-29_J_29.jpg"" target=""_blank"">here</a> is the only work of art he ever signed",Michelangelo (Buonarroti)
216862,5195,2007-03-23,Double Jeopardy!,HAIL TO THE CHEF,2000,"This host of the Food Network's ""Everyday Italian"" was born in Rome & is the granddaughter of film producer Dino",Giada De Laurentiis
216886,4999,2006-05-11,Jeopardy!,"RATED ""R""",600,"(<a href=""http://www.j-archive.com/media/2006-05-11_J_08.jpg"" target=""_blank"">Kelly of the Clue Crew works out on a machine in the gym.</a>) I'm doing exercises to strengthen this group of four shoulder muscles; damaging it could be deadly for my pitching career",the rotator cuff
216915,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,1200,In his teens he worked in an assistant D.A.'s office; later his Perry Mason character made fools of D.A.s,(Erle Stanley) Gardner
216919,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,1600,"If this riddling Belgian surrealist painter, born 1898 worked for ""Jeopardy!"", he might write, ""This is not a clue""",Magritte