In [1]:
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.float_format',  '{:,.2}'.format)

<ipython-input-1-f14289167729>:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

https://domohelp.domo.com/hc/en-us/articles/360043931814-Fun-Sample-DataSets

In [2]:
jeopardy = pd.read_excel('../data/JEOPARDY.xlsx')

In [3]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [4]:
show_1 = jeopardy[jeopardy['Show Number'] == 1]

In [5]:
type(show_1)

pandas.core.frame.DataFrame

In [6]:
show_1.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
show_1 = show_1.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

NameError: name 'show_1' is not defined

In [8]:
pd.set_option('display.max_colwidth', -1)

<ipython-input-8-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [9]:
# show_1[['Question', 'Answer']]

In [14]:
# show_1.loc[:,['Question', 'Answer']]

In [5]:
jeopardy = jeopardy.rename(columns={' Question':'Question', ' Air Date':'Date Aired', ' Category':'Category', 
                                ' Value':'Value', ' Answer':'Answer'})

In [6]:
jeopardy[1760:1721:-1]

,Show Number,Date Aired,Round,Category,Value,Question,Answer
1760,4699,2005-01-27,Jeopardy!,TEENS IN HISTORY,1000,"Apprenticed to a British shipowner as a teen in the 1740s, he became one of the great explorers of the Pacific",Captain Cook
1759,4699,2005-01-27,Jeopardy!,BRIGHT IDEAS,1000,"James Fergason invented this type of ""display"" that found an early use in calculators",LCD (or Liquid Crystal Display)
1758,4699,2005-01-27,Jeopardy!,NOVELS,1000,"Published in 1949, this futuristic tale is set in Oceania, a few years before you were born",1984
1757,4699,2005-01-27,Jeopardy!,FIRST NAME'S THE SAME,1000,"Connelly, Garner, Holliday",Jennifer
1756,4699,2005-01-27,Jeopardy!,U.S. GEOGRAPHY,1000,This large lake on the New York-Vermont border is Vermont's lowest point,Lake Champlain
1755,4699,2005-01-27,Jeopardy!,RHYME TIME,800,Written text of a movie about an underground burial chamber,a crypt script
1754,4699,2005-01-27,Jeopardy!,TEENS IN HISTORY,800,"Betrothed as a teen to her creepy cousin in 1744, she later became a ""Great"" empress of Russia",Catherine the Great
1753,4699,2005-01-27,Jeopardy!,BRIGHT IDEAS,800,In 1882 Schuyler Wheeler put a propellor on the shaft of an electric motor & created this--how cool!,a fan
1752,4699,2005-01-27,Jeopardy!,NOVELS,800,"Chapter 10 of this 1960 novel begins, ""Atticus was feeble: he was nearly fifty""",To Kill a Mockingbird
1751,4699,2005-01-27,Jeopardy!,FIRST NAME'S THE SAME,800,"Lillard, Modine",Matthew
1750,4699,2005-01-27,Jeopardy!,U.S. GEOGRAPHY,800,Florida's panhandle borders these 2 states,Alabama and Georgia
1749,4699,2005-01-27,Jeopardy!,RHYME TIME,600,A wealthy sorceress,a rich witch
1748,4699,2005-01-27,Jeopardy!,TEENS IN HISTORY,1000,In the 1850s this future sculptor failed the Ecole des Beaux-Arts entrance exam 3 times (think about it),Rodin
1747,4699,2005-01-27,Jeopardy!,BRIGHT IDEAS,600,Lawrence Sperry used the gyroscope his dad developed in this device that keeps planes on course without human aid,autopilot
1746,4699,2005-01-27,Jeopardy!,NOVELS,600,This 1939 Steinbeck novel helped publicize the plight of Dust Bowl refugees,The Grapes of Wrath
1745,4699,2005-01-27,Jeopardy!,FIRST NAME'S THE SAME,600,"Carey, Bledsoe",Drew
1744,4699,2005-01-27,Jeopardy!,U.S. GEOGRAPHY,600,"This river begins in Colorado & empties into the Gulf of Mexico near Brownsville, Texas",Rio Grande
1743,4699,2005-01-27,Jeopardy!,RHYME TIME,400,A more obese baseball slugger,a fatter batter
1742,4699,2005-01-27,Jeopardy!,TEENS IN HISTORY,400,She was a teenage farm girl when she beat the famous marksman Frank Butler in an 1870s shooting match,Annie Oakley
1741,4699,2005-01-27,Jeopardy!,BRIGHT IDEAS,400,"In 1948 scientists at Bristol-Meyers ""buffered"" this medicine for the first time",aspirin
1740,4699,2005-01-27,Jeopardy!,NOVELS,400,"Even the epilogue is lengthy in this 1869 Tolstoy epic; it comes out in 2 parts &, in our copy, is 105 pages long",War and Peace
1739,4699,2005-01-27,Jeopardy!,FIRST NAME'S THE SAME,400,"Bakula, Wolf",Scott
1738,4699,2005-01-27,Jeopardy!,U.S. GEOGRAPHY,400,"When the Russians owned Alaska, they referred to this tall peak as Bolshaya Gora",Mt. McKinley
1737,4699,2005-01-27,Jeopardy!,RHYME TIME,200,An intelligent beginning,a smart start
1736,4699,2005-01-27,Jeopardy!,TEENS IN HISTORY,200,In 1468 this teen was recognized as heiress to the throne of Castile,Queen Isabella
1735,4699,2005-01-27,Jeopardy!,BRIGHT IDEAS,200,Edwin Budding adapted a rotary shearer used to remove excess fibers from carpets into this outdoor tool,the lawnmower
1734,4699,2005-01-27,Jeopardy!,NOVELS,200,"The 1719 1st edition told of him ""having been cast on shore by shipwreck, wherein all... men perished but himself""",Robinson Crusoe
1733,4699,2005-01-27,Jeopardy!,FIRST NAME'S THE SAME,200,"Cash, Depp",Johnny
1732,4699,2005-01-27,Jeopardy!,U.S. GEOGRAPHY,200,"Of Hawaii's 8 main islands, this one receives the lion's share of the tourist dollars",Oahu
1731,5580,2008-12-05,Final Jeopardy!,HISTORIC PROPERTY TRANSACTIONS,None,"On May 15, 1768 France bought this island from Genoa for 2 million livres",Corsica
1730,5580,2008-12-05,Double Jeopardy!,SYMPHONIES ON FILM,2000,"The 1934 drama ""The Unfinished Symphony"" was director Anthony Asquith's tribute to this Austrian composer",Shubert
1729,5580,2008-12-05,Double Jeopardy!,CONDUCTORS,2000,"(<a href=""http://www.j-archive.com/media/2008-12-05_DJ_10.wmv"">Jimmy of the Clue Crew powers a fan by putting one terminal into a beaker of saltwater.</a>) Current that will power the fan is carried by ions rather than free electrons in the saltwater, which is one of these conducting liquids",an electrolyte
1728,5580,2008-12-05,Double Jeopardy!,"""PER""CUSSION",2000,11-letter word for the sac containing the heart,pericardium
1727,5580,2008-12-05,Double Jeopardy!,WOOD & WIND,2000,"This Frost poem ends with ""And miles to go before I sleep, And miles to go before I sleep""","""Stopping by Woods on a Snowy Evening"""
1726,5580,2008-12-05,Double Jeopardy!,STRINGS,2000,"The hope behind String Theory is that it will result in this, sometimes shortened to ""T.O.E.""",the theory of everything
1725,5580,2008-12-05,Double Jeopardy!,BRASS,8000,"In 1864 Democrats nominated this Union general for president, though he repudiated their platform",George McClellan
1724,5580,2008-12-05,Double Jeopardy!,SYMPHONIES ON FILM,1600,"This 1922 film seen <a href=""http://www.j-archive.com/media/2008-12-05_DJ_14.jpg"" target=""_blank"">here</a> was subtitled ""A Symphony of Horror""",Nosferatu
1723,5580,2008-12-05,Double Jeopardy!,CONDUCTORS,1600,It's the term for material that conducts at high temperatures & insulates at low temperatures,a semiconductor
1722,5580,2008-12-05,Double Jeopardy!,"""PER""CUSSION",1600,This daughter of Zeus & Demeter made regular trips to Hades,Persephone

In [7]:
jeopardy['Question'].isna().sum()

2

In [8]:
jeopardy = jeopardy.dropna(subset=['Question'])

In [9]:
jeopardy.isna().sum()

Show Number    0
Date Aired     0
 Round         0
Category       152
Value          0
Question       0
Answer         34
dtype: int64

In [10]:
jeopardy.dtypes

Show Number    int64
Date Aired     datetime64[ns]
 Round         object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [11]:
jeopardy = jeopardy.dropna()

In [13]:
#needs == True - idk why
jeopardy[jeopardy['Question'].str.contains('work', case=False)  == True]

,Show Number,Date Aired,Round,Category,Value,Question,Answer
139,3751,2000-12-18,Jeopardy!,FOREWORDS,400,"One edition calls this Darwin opus one of ""the most readable and approachable"" of revolutionary scientific works",The Origin of Species
144,3751,2000-12-18,Jeopardy!,"""I"" LADS",500,This auto exec's autobiography is one of the bestselling nonfiction works in publishing history,Lee Iacocca
291,4931,2006-02-06,Double Jeopardy!,U.S. WINTER OLYMPIANS,2000,"His ""Bode"" of work includes 2 Alpine skiing silver medals in 2002",Bode Miller
424,6037,2010-12-07,Jeopardy!,RVs,200,"(<a href=""http://www.j-archive.com/media/2010-12-07_J_26.jpg"" target=""_blank"">Jimmy of the Clue Crew reports from the RV/MH Hall of Fame in Elkhart, IN.</a>) The GMC Motorhome from the '60s & 70s was among the first models to have this innovation that helps with traction by putting the weight over the <a href=""http://www.j-archive.com/media/2010-12-07_J_26a.jpg"" target=""_blank"">wheels</a> that do the work",front-wheel drive
432,6037,2010-12-07,Jeopardy!,TIMELESS TV,600,In 1948 Douglas Edwards became the first anchor of this network's Evening News,CBS
...,...,...,...,...,...,...,...
216770,5070,2006-09-29,Jeopardy!,SIGNING OFF,800,"The statue seen <a href=""http://www.j-archive.com/media/2006-09-29_J_29.jpg"" target=""_blank"">here</a> is the only work of art he ever signed",Michelangelo (Buonarroti)
216862,5195,2007-03-23,Double Jeopardy!,HAIL TO THE CHEF,2000,"This host of the Food Network's ""Everyday Italian"" was born in Rome & is the granddaughter of film producer Dino",Giada De Laurentiis
216886,4999,2006-05-11,Jeopardy!,"RATED ""R""",600,"(<a href=""http://www.j-archive.com/media/2006-05-11_J_08.jpg"" target=""_blank"">Kelly of the Clue Crew works out on a machine in the gym.</a>) I'm doing exercises to strengthen this group of four shoulder muscles; damaging it could be deadly for my pitching career",the rotator cuff
216915,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,1200,In his teens he worked in an assistant D.A.'s office; later his Perry Mason character made fools of D.A.s,(Erle Stanley) Gardner
216919,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,1600,"If this riddling Belgian surrealist painter, born 1898 worked for ""Jeopardy!"", he might write, ""This is not a clue""",Magritte