In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [21]:
df = pd.read_csv('../data/mbti_1.csv')

In [22]:
df.shape

(8675, 2)

In [24]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [26]:
df[df['type'] == 'INTP']['posts']

2       'Good one  _____   https://www.youtube.com/wat...
9       'https://www.youtube.com/watch?v=w8-egj0y8Qs||...
14      'Basically this...  https://youtu.be/1pH5c1Jkh...
15      'Your comment screams INTJ, bro. Especially th...
20      'Steve Job's was recognized for his striving f...
                              ...
8640    'This is a great thread... I find it interesti...
8647    Socionics picked up on this.  They call it vis...
8663    'doesn't matter, you don't have a choice, Elec...
8664    'https://www.youtube.com/watch?v=7zsMdi714mI||...
8672    'So many questions when i do these things.  I ...
Name: posts, Length: 1304, dtype: object