In [1]:
import pandas as pd
import numpy as np

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
url = "https://runsignup.com/Race/FindARunner/?search&eventId=691927&raceId=3469&perPage=50"
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [5]:
print(title)

NameError: name 'title' is not defined

In [6]:
html

In [7]:
text = soup.get_text()

In [9]:
# soup.find_all('a')

In [10]:
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

https://www.whatismybrowser.com/guides/how-to-enable-cookies/auto
/Race/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Register/?raceId=3469
/Race/Donate/NJ/GlenRidge/FitzgeraldsLagerRun
/Login
/CreateAccount?redirect=%2FRace%2FFindARunner%2F%3Fsearch%26eventId%3D691927%26raceId%3D3469%26perPage%3D50
https://help.runsignup.com/
/Race/Info/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Events/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Register/?raceId=3469
/Race/FindARunner/?raceId=3469
/Race/Donate/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Donate/3469/BecomeFundraiser
/Race/Donate/3469/TopFundraisers
/Race/Results/3469
/Race/3469/RefundPolicy
/Race/Photos/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Register/?raceId=3469
/Race/Donate/NJ/GlenRidge/FitzgeraldsLagerRun
/Login
/CreateAccount?redirect=%2FRace%2FFindARunner%2F%3Fsearch%26eventId%3D691927%26raceId%3D3469%26perPage%3D50
https://help.runsignup.com/
/Race/Info/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Events/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Register/?raceId=3469
/Race/FindARunner/?raceId=3469
/Race/Donate/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Donate/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Donate/3469/BecomeFundraiser
/Race/Donate/3469/TopFundraisers
/Race/Results/3469
/Race/3469/RefundPolicy
/Race/Photos/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Info/NJ/GlenRidge/FitzgeraldsLagerRun#directions
#
mailto:?subject=Fitzgerald%27s%205K%20Lager%20Run%20%26%20Nipper%201%20Mile
/Login#forgotPswd
/Account/MFARecovery
/Race/FindARunner/?search=&eventId=691927&raceId=3469&perPage=50&page=2
/Race/FindARunner/?search=&eventId=691927&raceId=3469&perPage=50&page=3
/Race/MyRegisteredRaces?raceId=3469
/Race/Info/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/FindARunner/?raceId=3469
/Race/3469/RefundPolicy
/Race/Events/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Donate/3469/BecomeFundraiser
/Race/Donate/3469/TopFundraisers
/Race/Photos/NJ/GlenRidge/FitzgeraldsLagerRun
/Race/Register/?raceId=3469
/Race/Results/3469
/Race/3469/PrivacyPolicy
/Race/Info/NJ/GlenRidge/FitzgeraldsLagerRun#contactFormSection
/Account/MFARecovery
/About-Us/Privacy-Policy
/About-Us/Privacy-Policy

In [11]:
rows = soup.find_all('tr')
print(rows[:10])
#We are printing the first 10 rows.

[<tr><td>The Fitzgerald's Lager 5K Run/Walk</td><td>841</td></tr>, <tr><td>The Nipper Mile</td><td>112</td></tr>, <tr>
<th>Bib</th>
<th>Name</th>
<th>Event</th>
<th>Age</th>
<th class="hidden-phone">City</th>
<th class="hidden-phone">State</th>
<th>Result Notifications</th>
</tr>, <tr>
<td>
																	2001
															</td>
<td class="name">
<span class="name">
																																				Michael Barrett
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70769991" onclick="LoginByUserId.showPopup(37936834, &quot;52af816e87ecb4d33ab86264a35ed425&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>42</td>
<td class="hidden-phone">Montclair</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70769991, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2002
															</td>
<td class="name">
<span class="name">
																																				R. Barrett
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70769990" onclick="LoginByUserId.showPopup(37936834, &quot;52af816e87ecb4d33ab86264a35ed425&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>6</td>
<td class="hidden-phone">Montclair</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70769990, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2003
															</td>
<td class="name">
<span class="name">
																																				Raizel Bernstein
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70735822" onclick="LoginByUserId.showPopup(4847407, &quot;8f03fd6b3e031448b7c99c342c94c5d6&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>29</td>
<td class="hidden-phone">Glen Rock</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70735822, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2004
															</td>
<td class="name">
<span class="name">
																																				A. Bowman
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=67929817" onclick="LoginByUserId.showPopup(57589359, &quot;9f31cd9e162f235fb7e517f53895abb0&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>7</td>
<td class="hidden-phone">Glen Ridge</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(67929817, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2005
															</td>
<td class="name">
<span class="name">
																																				B. Bowman
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=67929818" onclick="LoginByUserId.showPopup(57589359, &quot;9f31cd9e162f235fb7e517f53895abb0&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>5</td>
<td class="hidden-phone">Glen Ridge</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(67929818, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2006
															</td>
<td class="name">
<span class="name">
																																				Francisco Campos-Ortiz
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70090966" onclick="LoginByUserId.showPopup(71234479, &quot;cf9c5896757456c32cbe46d4fd5a4579&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>43</td>
<td class="hidden-phone">Montclair</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70090966, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>, <tr>
<td>
																	2007
															</td>
<td class="name">
<span class="name">
																																				F. Campos-Sullivan
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70090969" onclick="LoginByUserId.showPopup(71234479, &quot;cf9c5896757456c32cbe46d4fd5a4579&quot;, $(this).data('href'));" type="button">More Details</button>
</td>
<td class="event">The Nipper Mile</td>
<td>3</td>
<td class="hidden-phone">Montclair</td>
<td class="hidden-phone">
								NJ
																	US
															</td>
<td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70090969, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>
</tr>]

In [13]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td>
																	2050
															</td>, <td class="name">
<span class="name">
																																				Martin Kurzweil
																								</span>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs td-none margin-0" data-href="/Account/ParticipantManagement/?registrationId=70501829" onclick="LoginByUserId.showPopup(28522940, &quot;f3473e86a97e932a52a87d15c043bab3&quot;, $(this).data('href'));" type="button">More Details</button>
</td>, <td class="event">The Nipper Mile</td>, <td>43</td>, <td class="hidden-phone">Glen Ridge</td>, <td class="hidden-phone">
								NJ
																	US
															</td>, <td>
<button class="rsuBtn rsuBtn--secondary rsuBtn--xs" onclick="SetupRunnerNotifications.showNotificationSetupPopup(70501829, $.trim($(this).closest('tr').children('td.name').find('span.name').text()), $(this).closest('tr').children('td.event').text());" type="button">
										Result Notifications
									</button>
</td>]

bs4.element.ResultSet

In [14]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[
																	2050
															,

																																				Martin Kurzweil

More Details
, The Nipper Mile, 43, Glen Ridge,
								NJ
																	US
															,

										Result Notifications

]

In [15]:
#First, we need to import the regular expressions module
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[
																	2050
															,

																																				Martin Kurzweil

More Details
, The Nipper Mile, 43, Glen Ridge,
								NJ
																	US
															,

										Result Notifications

]

str

In [20]:
# list_rows
# .str.replace({'\t':'','\n':''})

In [23]:
# df = pd.DataFrame(list_rows)
# df.tail(10)

In [31]:
df1 = df[0].str.split(',', expand=True)
# df1.head()
df1[0] = df1[0].str.strip('[')
df1.head()

,0,1,2,3,4,5,6
0,The Fitzgerald's Lager 5K Run/Walk,841],None,None,None,None,None
1,The Nipper Mile,112],None,None,None,None,None
2,],None,None,None,None,None,None
3,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2001\n\t\t...,\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,The Nipper Mile,42,Montclair,\n\t\t\t\t\t\t\t\tNJ\n\t\t\t\t\t\t\t\t\t\t\t\...,\n\n\t\t\t\t\t\t\t\t\t\tResult Notifications\...
4,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2002\n\t\t...,\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\...,The Nipper Mile,6,Montclair,\n\t\t\t\t\t\t\t\tNJ\n\t\t\t\t\t\t\t\t\t\t\t\...,\n\n\t\t\t\t\t\t\t\t\t\tResult Notifications\...

In [32]:
df1[1][3]

' \n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tMichael Barrett\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nMore Details\n'

In [26]:
df1.columns

RangeIndex(start=0, stop=7, step=1)

In [36]:
df = df1[[1, 3, 4]].rename(columns={1:'name',3:'age',4:'area'})

In [48]:
df['name'].dtypes
# [3].str.replace({'\t':'','\n':''})
df['name'] = df['name'].str.replace('\t','')
df['name'] = df['name'].str.replace('\n','')

In [50]:
df.tail()

                            name  age         area
48     E. ImperatoreMore Details    7    Montclair
49         Ben KirbyMore Details   13   Glen Ridge
50          H. KirbyMore Details   10   Glen Ridge
51       J. KurzweilMore Details   10   Glen Ridge
52   Martin KurzweilMore Details   43   Glen Ridge

In [2]:
nipper = pd.read_excel('../data/nippermile.xlsx')

In [3]:
nipper.head()

                 NAME            EVENT  AGE        CITY  STATE
0   Michael Barrett    The Nipper Mile   42   Montclair  NJ US
1        R. Barrett    The Nipper Mile    6   Montclair  NJ US
2  Raizel Bernstein    The Nipper Mile   29   Glen Rock  NJ US
3         A. Bowman    The Nipper Mile    7  Glen Ridge  NJ US
4         B. Bowman    The Nipper Mile    5  Glen Ridge  NJ US

In [4]:
nipper.describe()

             AGE
count  92.000000
mean   19.684783
std    17.365451
min     3.000000
25%     7.000000
50%     9.000000
75%    38.000000
max    70.000000

In [16]:
mile_age = nipper['AGE'].value_counts().to_frame().reset_index()
mile_age = mile_age.rename(columns={'index':'Age', 'AGE':'How Many Racers of a Specific Age'})
mile_age
mile_age.sort_values('Age').reset_index(drop=True)

    Age  How Many Racers of a Specific Age
0     3                                  2
1     4                                  3
2     5                                  9
3     6                                  6
4     7                                 14
5     8                                  6
6     9                                  7
7    10                                  3
8    11                                  4
9    12                                  2
10   13                                  4
11   29                                  2
12   31                                  1
13   34                                  1
14   35                                  1
15   36                                  2
16   37                                  1
17   38                                  2
18   39                                  1
19   40                                  1
20   41                                  2
21   42                                  2
22   43                                  5
23   44                                  1
24   45                                  2
25   46                                  1
26   47                                  2
27   48                                  1
28   49                                  1
29   53                                  1
30   56                                  1
31   70                                  1